flappy/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# MediaPipe / AI models
# Nếu bạn có tải model .tflite về máy thì nên bỏ qua để tránh nặng repo
*.tflite

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Hệ điều hành
.DS_Store
Thumbs.db

# Game Data
highscore.txt